@model Dive
<h3>@Model.Name Information</h3>
<table class="table">
    <tr>
        <th>Dive No.</th>
        <th>Name</th>
        <th> Tuck (C)</th>
        <th>Pike (B)</th>
        <th>Straight (A)</th>
        <th>Free (D)</th>
        <th>Notes</th>
    </tr>
            <tr>
            <td>@Model.DiveNo</td>
            <td>@Model.Name</td>
            <td>@Model.CTuck</td>
            <td>@Model.BPike</td>
            <td>@Model.AStraight</td>
            <td>@Model.DFree</td>
            <td>@Model.Notes</td>
        </tr>
    
</table>
<div style="display: block">
    <a href="/Dive/UpdateNotes/@Model.DiveNo">Update this dive's notes!</a>
</div>
